.App {
  width: 100%;
  height: 100vh;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

/* 强制所有输入框为全圆角 */
.ant-input,
.ant-input-affix-wrapper,
.ant-input-affix-wrapper-focused,
.ant-input:hover,
.ant-input:focus {
  border-radius: 9999px !important;
}

.ant-select-selector {
  border-radius: 9999px !important;
}

.ant-input-number {
  border-radius: 9999px !important;
}

.ant-picker {
  border-radius: 9999px !important;
}

.ant-btn {
  border-radius: 9999px !important;
}
